@charset "UTF-8"; /* 國際萬用編碼，一定要放第一行 */

body{
    font-family: -apple-system, BlinkMacSystemFont,"Segoe UI", Roboto, Ubuntu,"Helvetica Neue", Helvetica, Arial,
    "PingFang TC", "Noto Sans TC", "⿊體-繁", "Heiti TC", "微軟正⿊體","Microsoft JhengHei",sans-serif;
    background-color: rgb(43, 27, 5);
    margin: 0 0;
}
img{
    display: block;
    margin: 0 auto;
    width: 20%;
    cursor: pointer;
}

.banner::before{
    content: "";
    background-image: url(../images/location/location_bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    z-index: -1;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.6;
}

.banner{
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
.banner div img{
    width: 15%;
    position: relative;
}

.banner h1,h3{
    align-self: center;
    margin: 0 auto;
    color: aliceblue;
    position: relative;
}
.banner h1{
    font-family: 'Coda Caption', sans-serif;
    margin-bottom: 7px;
    font-weight: 900;
    font-size: 4rem;
    text-shadow: 3px 3px 2px rgba(0,0,0,.8);
}
.banner h3{
    font-size: 2rem;
    text-shadow: 3px 3px 2px rgba(0,0,0,.8);
}

#topbar {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  nav {
    display: flex;
    flex-direction: row; /* 主軸垂直排列 */
    align-items: flex-start; /* 副軸垂直排列 */
  }
  nav ul{
    list-style: none; /* 把ul預設的點點拿掉 */
  }
  .icon{
    display: flex; /* 讓子元素水平排列 */
    margin-left: auto;
    margin-right: auto;
  }
  .icon li{
    display: block; /* 改變為區塊才能設定寬高 */
    width: 35px;
    height: 35px;
    margin: 0 15px; /* 上下 左右 */
  }
  .icon_VIP{
    background-image: url(../images/icon/VIPicon.png); /* svg圖檔會自動與區塊同寬 */
    background-size: 100%; /* 非svg圖檔則須設定100% */
    cursor: pointer;
  }
  .icon_service{
    background-image: url(../images/icon/service-icon.png);
    background-size: 100%;
    cursor: pointer;
  }
  .icon_location{
    background-image: url(../images/icon/location-icon.png);
    background-size: 100%;
    cursor: pointer;
  }
  .icon_shopping{
    background-image: url(../images/icon/shopping-icon.png);
    background-size: 100%;
    cursor: pointer;
  }
  .icon_VIP:hover{
    background-image: url(../images/icon/VIPicon-hover.png);
    background-size: 100%;
  }
  .icon_service:hover{
    background-image: url(../images/icon/service-icon-hover.png);
    background-size: 100%;
  }
  .icon_location:hover{
    background-image: url(../images/icon/location-icon-hover.png);
    background-size: 100%;
  }
  .icon_shopping:hover{
    background-image: url(../images/icon/shopping-icon-hover.png);
    background-size: 100%;
  }
/* content */
.content{
    display: flex;
    flex-direction: column; /* 主籌垂直 */
    align-items: center; /* 副軸水平 */
}
.content h1{
    margin-top: 70px;
    font-size: 30px;
}
.content h1,h2{
    align-self: center;
    color: aliceblue;
}
.map div{
    float: right;
    margin-left: 70px;
}
.map iframe{
    margin-bottom: 80px;
}
.map h3{
    font-size: 35px;
    color: burlywood;
}
.map p{
    font-size: 20px;
    color: aliceblue;
}
.warning{
    background-color: #110100;
    position: fixed;
    left: 10;
    bottom: 0;
}